.list-wraper{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 400px;
}
    
    
.list{
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
}
    
    
.list td{
    padding: 10px;
}
    
.link-style{
    text-decoration: none;
}